.footer {
    border-style: double none none none;
    border-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.footer img {
    width: 38px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}