.header {
    border-bottom: double white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 15px;
    font-size: larger;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a.active {
    font-weight: bold;
    color: #4A90E2;
  }

  .header .title {
    color: #000;
    background-color: #fff;
    padding: 2px;
    transition: 0.3s;
  }

  .header .titleSecond {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
  }

  .header .title:hover {
    color: #fff;
    background-color: #000;
  }

  .header .title:hover .titleSecond {
    color: #000;
    background-color: #fff;
  }