.header {
    border-bottom: double white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-weight: normal;
    direction: rtl;
    transition: background-color 0.1s linear;
  }
  
  .dropdown:hover h2 {
    background-color: var(--color-hover-background);
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--color-dropdown-background);
    font-size: 28px;
  }
  
  .dropdown-content a {
    width: 100%;
    display: list-item;
    list-style-type: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .logo {
    transition: transform 0.3s;
  }

  .logo:hover {
    transform: scale(1.05);
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a.active {
    font-weight: bold;
    color: #4A90E2;
  }
  