.odie {
    background-color: cadetblue;
    text-align: center;
}

.odie a:hover {
    background-color: gold;
}

.odie h1 {
    font-size: 80px;
    color: hotpink;
    text-shadow: 2px 2px 1px black;
}

.odie h3 span {
    color: gold;
}

.odie img  {
    max-width: 750px;
}