body {
    background-color: cadetblue;
    text-align: center;
}

a:hover {
    background-color: gold;
}

.dropdown:hover h2 {
    background-color: gold;
}

h1 {
    font-size: 80px;
    color: hotpink;
    text-shadow: 2px 2px 1px black;
}