.terminal {
    width: 80%;
    height: 80vh;
    margin: auto;
    padding: 10px;
    border: 2px solid red;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.terminal .output {
    flex-grow: 1;
}

.terminal .input {
    display: flex;
    align-items: center;
}

.terminal .input input {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}
